.contenedor{
    background-color: white;
    padding: 0px 40px 20px 20px;
}
.tarjeta{
    display: flex;
    justify-content: center;
}
img{
    margin-right: 50px;
    width: 330px;
    border: solid rgb(199, 198, 198);
    border-width: thin;
    border-radius: 10px;
}
h1{
    padding: 20px 0px 15px 0px;
    border-bottom: solid rgb(199, 198, 198);
    border-width: thin;
}