<!-- Este no se utilizo dado que cuando lo llamaba en producto todo lo tomaba como una sola etiqueta y dañaba la rejilla -->
<!-- Sin embargo lo deje dado que es una guia para diseñar la caja del producto y no perder el trabjo -->
<!-- Esto viene siendo casi lo mismo que está en el componente producto.componente.html -->
<div class="producto-card">
    <img src="../../../assets/img/aguacate.jpg">
    <div class="descripcion">
        <h1>Aguacate</h1>
        <p><strong>Precio: </strong></p>
        <p><strong>Unidades disponibles: </strong></p>
        <div class="card-opciones">
            <button mat-raised-button color="basic">Ver más</button>
            <div>
                <button mat-raised-button color="primary">Añadir</button>
                <input type="number" value="1" min="1" max="10" step="1">
            </div>
        </div>
    </div>
</div>
